<html>
<head>
    <title>Untitled Page</title>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){ 
        $.ajax({
             type: "get",
             async: false,
             url: "http://localhost:8080/JSONP",
             dataType: "jsonp",
             jsonp: "callback",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(一般默认为:callback)
             jsonpCallback:"x",//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名，也可以写"?"，jQuery会自动为你处理数据
             success: function(json){
                 alert('json.foo： ' + json.foo);
             },
             error: function(){
                 alert('fail');
             }
         });
     });
     </script>
</head>


	<h1>
		{{ .title }}
	</h1>
</html>